<!-- TITLE BAR -->
<div class="title-bar">
  <div class="title-bar-left">
    <i class="codicon codicon-beaker" style="margin-right: 8px; color: #007acc"></i>
    <a
      href="https://github.com/FASTSHIFT/FPBInject"
      target="_blank"
      class="app-title"
      style="color: inherit; text-decoration: none"
    >
      FPBInject Workbench
    </a>
    <span id="versionDisplay" class="version-badge"></span>
    <button id="tutorialBtn" class="tutorial-trigger"
            data-i18n="[title]tutorial.btn_title"
            onclick="startTutorial()">
      <i class="codicon codicon-mortar-board"></i>
    </button>
  </div>
  <div class="title-bar-center">
    <span class="workspace-title" id="clockDisplay"></span>
  </div>
  <div class="title-bar-right">
    <div class="author-link">
      <i class="codicon codicon-github"></i>
      <a href="https://github.com/FASTSHIFT" target="_blank" style="color: inherit; text-decoration: none">
        FASTSHIFT (VIFEX)
      </a>
    </div>
  </div>
</div>
